<!-- Navigation tabs -->
<div class="container justify-content-center d-flex">
    <ul class="nav nav-tabs nav-fills">
        <li class="nav-item text-center">
            <a class="nav-link text-secondary text-uppercase"
                ng-class="{'active': tabSelected === 0, 'active-tab-dir': tabSelected === 0}" ng-click="selectTab(0)"><i
                    class="fas fa-search fa-2x fa-fw"></i> Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary text-uppercase"
                ng-class="{'active': tabSelected === 1, 'active-tab-dir': tabSelected === 1}" ng-click="selectTab(1)"><i
                    class="fas fa-cog fa-2x fa-fw"></i> Settings</a>
        </li>
    </ul>
</div>

<br>


<!-- FIRST TAB -->
<section ng-show="tabSelected == 0">
    <div class="row mb-3">
        <div class="col-1">
            <hr>
        </div>
        <div class="col-auto d-flex justify-content-center align-items-center">
            <h5 class="mb-0 text-secondary select-off"><i class="fas fa-search fa-lg fa-fw"></i> Search Fields</h5>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- search form -->
    <div class="container">
        <form ng-submit="search()">
            <!-- search fields -->
            <div class="row row-cols-5">
                <div class="col mb-2" ng-repeat="field in searchArray">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{{ field.label }}</span>
                        <input class="form-control" type="search" spellcheck="false" ng-model="field.value">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{{ ppmValue.label }}</span>
                        <select class="form-control form-control-sm" ng-model="ppmValue.value">
                            <option value="all">All</option>
                            <option value="due">Due</option>
                            <option value="over_due">Over Due</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <!-- buttons -->
            <div class="d-grids gap-2 d-flex justify-content-center">
                <button ng-class="{disabled: loading == true}" type="submit" class="btn btn-dark btn"><i
                        class="fas fa-search"></i> Search</button>
                <button type="button" class="btn btn-outline-danger btn" ng-click="empty()"><i
                        class="fas fa-backspace"></i>
                    Reset</button>
            </div>
        </form>
    </div>

    <!-- ******************************************* RESULTS TABLE ************************************ -->
    <!-- ********************************************************************************************** -->
    <div class="row mt-1">
        <div class="col-1">
            <hr>
        </div>
        <div class="col-auto d-flex justify-content-center align-items-center">
            <h5 class="mb-0 text-secondary select-off"><i class="fas fa-file-alt fa-lg fa-fw"></i> Results</h5>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>

    <div>
        <div class="row justify-content-between mb-2 mt-3">
            <div ng-if="loading" class="d-flex justify-content-center col">
                <div class="spinner-border text-dark"></div>
            </div>
            <div class="col-4 text-center">
                <button ng-if="equipments.length > 0" ng-click="exportExcel()" class="btn btn-success">Export Excel
                    <i class="fas fa-table"></i></button>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
                    template-url="templates/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
            <div class="col-4"></div>
            <!-- <div class="col-3">
                <div class="input-group" ng-show="equipments.length > 0">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                    <input ng-change="test()" id="search" type="search" class="form-control form-control-sm"
                        ng-model="searchVal" placeholder="Search..." spellcheck="false">
                </div>
            </div> -->
        </div>
        <table class="table table-striped table-sm table-bordered text-center">
            <caption><b>Total Results:</b>
                {{ equipments.length.toLocaleString() }}</caption>
            <thead>
                <tr class="bg-dark text-light small">
                    <th colspan="3">ASSET</th>
                    <th colspan="2">LOCATION</th>
                    <th colspan="4">SUPPLIER</th>
                    <th colspan="7">ASSET INFORMATION</th>
                </tr>
                <tr class="bg-secondary">
                    <th width="3%" style="padding: 0.5rem 0.5rem !important;">#</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Description</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Asset No.</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Department</th>
                    <th style="padding: 0.5rem 0.5rem !important;">EST Report</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Installation Date</th>
                    <th style="padding: 0.5rem 0.5rem !important;">PPM Schedule</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Last PPM</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Supplier</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Model</th>
                    <th style="padding: 0.5rem 0.5rem !important;">Serial No.</th>
                    <th width="18%" colspan="3" style="padding: 0.5rem 0.5rem !important;">Options</th>
                    <!-- <th style="padding: 0.5rem 0.5rem !important;">More Info</th> -->
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="data in equipments | itemsPerPage:20 | filter:searchVal" class="small">
                    <td>{{ data.record_ID }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.asset_no }}</td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.est_report == 1 ? 'Yes':'No' }}</td>
                    <td>{{ data.installation_date }}</td>
                    <td
                        ng-class="{'bg-warning': moment(data.ppm_schedule) < 30 && moment(data.ppm_schedule) > 0, 'bg-danger': moment(data.ppm_schedule) < 0}">
                        {{ data.ppm_schedule || ' --- '}}</td>
                    <td>{{ data.ppm_done || ' --- ' }}</td>
                    <td>{{ data.supplier }}</td>
                    <td>{{ data.model }}</td>
                    <td>{{ data.serial_no }}</td>

                    <td width="6%" ng-click="openEditEquipmentModal(data)" class="info-hover text-info"><i
                            class="fas fa-edit"></i> Edit</td>
                    <td width="7%" ng-click="openServiceModal(data)" class="danger-hover text-danger"><i
                            class="fas fa-wrench"></i> Service</td>
                    <td ng-click="moreInfoModal(data)" class="dark-hover text-dark"><i class="fas fa-info-circle"></i>
                        More Info</td>
                </tr>

                <tr ng-if="equipments.length === 0">
                    <td colspan="14" class="table-secondary">No Records Yet!</td>
                </tr>


                <!-- <tr ng-if="equipments.length === 0 && loading == false" class="table-warning select-off">
                <td colspan="13">No Matching Results Found!</td>
            </tr> -->
            </tbody>
        </table>

    </div>
</section>
<!-- end first tab -->

<!-- SECOND TAB -->
<section ng-show="tabSelected == 1">
    <div class="row mb-3">
        <div class="col-1">
            <hr>
        </div>
        <div class="col-auto d-flex justify-content-center align-items-center">
            <h5 class="mb-0 text-secondary select-off"><i class="fas fa-laptop-medical fa-lg fa-fw"></i> Equipments</h5>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="container">
        <button ng-click="openAddEquipmentModal()" class="btn btn-outline-success"><i class="fas fa-add fa-fw"></i> Add
            New Equipment</button>
    </div>

    <h4 class="text-center"><i class="fas fa-history fa-fw"></i> Recently Added</h4>
    <table class="table table-bordered table-striped table-sm text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Asset No.</th>
                <th>Department</th>
                <th>Installation Date</th>
                <th>Supplier</th>
                <th>Model</th>
                <th>Serial No.</th>
                <th>Maker/Origin</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in recentEquipments">
                <td>{{ record.record_ID }}</td>
                <td>{{ record.description }}</td>
                <td>{{ record.asset_no }}</td>
                <td>{{ record.department }}</td>
                <td>{{ record.installation_date }}</td>
                <td>{{ record.supplier }}</td>
                <td>{{ record.model }}</td>
                <td>{{ record.serial_no }}</td>
                <td>{{ record.maker }}</td>
                <td>{{ record.date_added }}</td>
            </tr>

            <tr>
                <td colspan="10" ng-if="recentEquipments.length == 0">No recently added equipments in the last 10 days !
                </td>
            </tr>
        </tbody>
    </table>

</section>

<!-- equipments modal -->
<div class="modal fade" tabindex="-1" id="equipmentsModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submit()">
                <div class="modal-body">
                    <div class="row row-cols-5">
                        <!-- Description -->
                        <div class="col mb-2">
                            <label class="form-label">Description</label>
                            <input required type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.description">
                        </div>

                        <!-- asset_no -->
                        <div class="col mb-2">
                            <label class="form-label">Asset No.</label>
                            <input required type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.asset_no">
                        </div>

                        <!-- department -->
                        <div class="col mb-2">
                            <label class="form-label">Department</label>
                            <input required type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.department">
                        </div>

                        <!-- est_report -->
                        <div class="col mb-2">
                            <label class="form-label">EST Report</label>
                            <select class="form-control" ng-model="modalData.est_report">
                                <option ng-value="0">No</option>
                                <option ng-value="1">Yes</option>
                            </select>
                        </div>

                        <!-- installation_date -->
                        <div class="col mb-2">
                            <label class="form-label">Installation Date</label>
                            <input required id="installationDate" type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.installation_date">
                        </div>

                        <!-- ppm_schedule -->
                        <div class="col mb-2">
                            <label class="form-label">PPM Schedule</label>
                            <input id="schedule" type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.ppm_schedule">
                        </div>

                        <!-- ppm_done -->
                        <div class="col mb-2">
                            <label class="form-label">Last PPM</label>
                            <input id="lastPPM" type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.ppm_done">
                        </div>

                        <!-- supplier -->
                        <div class="col mb-2">
                            <label class="form-label">Supplier</label>
                            <!-- <input required type="text" class="form-control" spellcheck="false"
                                ng-model="modalData.supplier"> -->
                            <select class="form-control" ng-model="modalData.supplier_ID_FK"
                                ng-options="supplier.supplier_ID as supplier.name for supplier in suppliers"></select>
                        </div>

                        <!-- model -->
                        <div class="col mb-2">
                            <label class="form-label">Model</label>
                            <input type="text" class="form-control" spellcheck="false" ng-model="modalData.model">
                        </div>

                        <!-- serial_no -->
                        <div class="col mb-2">
                            <label class="form-label">Serial No.</label>
                            <input type="text" class="form-control" spellcheck="false" ng-model="modalData.serial_no">
                        </div>

                        <!-- maker -->
                        <div class="col mb-2">
                            <label class="form-label">Maker</label>
                            <input type="text" class="form-control" spellcheck="false" ng-model="modalData.maker">
                        </div>

                        <!-- notes -->
                        <div class="col mb-2">
                            <label class="form-label">Notes</label>
                            <input type="text" class="form-control" spellcheck="false" ng-model="modalData.notes">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel</button>
                    <button ng-show="modalTitle == 'Edit Equipment'" ng-click="deleteEquipment()" class="btn btn-danger"
                        type="button"><i class="fas fa-trash-alt"></i> Delete</button>
                    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i>
                        Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Info modal -->
<div class="modal fade" tabindex="-1" id="infoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-info-circle fa-lg"></i> {{ moreInfoData.description }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="addExtension()">
                <div class="modal-body">
                    <label><b>Maker/Origin:</b> {{ moreInfoData.maker }}</label>
                    <br>
                    <label><b>Remarks:</b> {{ moreInfoData.notes || ' --- '}}</label>
                    <hr>
                    <h6><i class="fas fa-puzzle-piece"></i> Extensions</h6>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Serial No.</th>
                                <th>Notes</th>
                                <th>Del?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in extensionData">
                                <td>{{ data.ext_name }}</td>
                                <td>{{ data.ext_serial_no || ' --- ' }}</td>
                                <td>{{ data.ext_notes || ' --- ' }}</td>
                                <td ng-click="deleteExtension($index, data.ext_ID)" class="danger-hover text-danger"><i class="fas fa-trash-alt"></i></td>
                            </tr>
                            <tr ng-show="extensionData.length == 0">
                                <td class="table-active" colspan="4">No Extensions Yet!</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <h6><i class="fas fa-plus"></i> Add Extension</h6>
                    <div class="row">
                        <div class="col-4">
                            <label>Extension Name</label>
                            <input spellcheck="false" type="text" class="form-control"
                                ng-model="newExtensionData.ext_name" required>
                        </div>
                        <div class="col-4">
                            <label>Serial No.</label>
                            <input spellcheck="false" type="text" class="form-control"
                                ng-model="newExtensionData.ext_serial_no">
                        </div>
                        <div class="col-4">
                            <label>Notes</label>
                            <input spellcheck="false" type="text" class="form-control"
                                ng-model="newExtensionData.ext_notes">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel</button>
                    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i>
                        Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- service modal -->
<div class="modal fade" tabindex="-1" id="serviceModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-wrench fa-lg"></i> Service History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submitNewService()">
                <div class="modal-body">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Notes</th>
                                <th>Del?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in serviceModalData">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ data.service_type }}</td>
                                <td>{{ data.service_description }}</td>
                                <td>{{ data.service_date }}</td>
                                <td>{{ data.service_time }}</td>
                                <td>{{ data.service_notes || ' --- ' }}</td>
                                <td ng-click="deleteService($index, data.service_ID)" class="danger-hover text-danger"><i class="fas fa-trash-alt"></i></td>
                            </tr>

                            <tr class="table-active" ng-show="serviceModalData.length == 0">
                                <td colspan="7">No Services Yet!</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <br> -->
                    <hr>
                    <h6><i class="fas fa-plus"></i> Add Maintenance Record</h6>
                    <div class="row">
                        <div class="col-3">
                            <label>Service Type</label>
                            <select class="form-control" ng-model="newServiceData.service_type">
                                <option value="ppm">PPM</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="form-text"><span class="text-danger">*Notice:</span> Adding PPM record will update PPM schedule automatically.</div>
                        </div>
                        <div class="col-3">
                            <label>Service Description</label>
                            <input spellcheck="false" type="text" class="form-control"
                                ng-model="newServiceData.service_description" required>
                        </div>
                        <div class="col-6">
                            <label>Notes</label>
                            <input spellcheck="false" type="text" class="form-control"
                                ng-model="newServiceData.service_notes">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Cancel</button>
                    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i>
                        Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>